name: Test
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{matrix.platform}}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Lint
        uses: crazy-max/ghaction-mage@v1
        with:
          version: 1.9.0
          args: lint
      - name: Doc Verify
        uses: crazy-max/ghaction-mage@v1
        with:
          version: 1.9.0
          args: docVerify
      - name: Test
        uses: crazy-max/ghaction-mage@v1
        with:
          version: 1.9.0
          args: test
